################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProductImporter/bin/Debug
/TestProductImporter/obj/Debug
/packages
/.vs/Assignment/v15/Server/sqlite3
/.vs/Assignment/v15
